@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #db2777 #2c2c2c;
    @apply tracking-wide;
  }
  body::-webkit-scrollbar {
    width: 12px;
  }
  body::-webkit-scrollbar-track {
    background: #2c2c2c;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #db2777;
    border: 3px solid #2c2c2c;
    border-radius: 10px;
  }

  h1 {
    @apply text-3xl font-bold text-darkred font-header;
  }

  h2 {
    @apply text-2xl text-darkred font-header;
  }

  h3 {
    @apply text-xl text-darkred font-medium;
  }

  p {
    @apply leading-loose text-base sm:text-lg font-body text-white opacity-80;
  }

  section {
    @apply max-w-5xl min-h-screen relative;
  }
  

  .animateSidebar-enter {
    transform: translateX(-100%);
  }

  .animateSidebar-enter-active {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }

  .animateSidebar-exit {
    transform: translateX(0);
  }

  .animateSidebar-exit-active {
    transform: translateX(-100%);
    transition: transform 175ms ease-in;
  }
}

@layer components {
  .card {
    @apply rounded-sm overflow-hidden shadow-md px-5 py-4;
  }
}
